/* reset the Vite starter flex */
body {
  margin: 0;
  display: block;   /* <-- IMPORTANT */
  background: #f3f7ff; /* whatever you want */
}

/* make the app fill the viewport and push footer down */
#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* whatever your main content wrapper is */
.content {
  flex: 1 0 auto;
}

/* footer sticks to bottom of page when content is short */
footer.footer {
  margin-top: auto;
 
  box-sizing: border-box;
   width: 100vw;  
}
